<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Concluído!</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/pageSuccess.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body background="/images/success-background.svg">
    <div class="words">
        <img src="/images/icons/success-check-icon.svg" alt="Sucesso!">
        <p>Cadastro Salvo! <br> 
            <strong>
                Tudo certo, seu cadastro está na nossa lista de professores. 
                <br> Agora é só ficar de olho no seu WhatsApp!
            </strong> 
        </p>
        <a id="button" href="/study">Acessar lista</a>
    </div>
</body>
</html>