:root { /*Variáveis css*/
    --color-background: #F0F0F7; 
    --color-primary-lighter:#9AB7F3;  /* another blue*/
    --color-primary-light: #729FF8; /* text in blue / complemento*/
    --color-primary: #5A95EC;   /* blue*/
    --color-primary-dark: #458DF6; /* little blue*/
    --color-primary-darker: #317BE7;/* blue dark*/
    --color-secondary:#00C7C4; /* green*/
    --color-secondary-dark: #00B3B0; /* another green*/
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #E6F6F5; /* text in blue / base*/
    --color-text-title: #32264D; 
    --color-text-complement: #9C98A6; 
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0; 
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF; 
    --color-box-footer: #FAFAFC; 
    --color-small-info: #C1BCCC;
    
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%; /*1rem vira 10px*/
    }
}
